*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
body{
    font: 500 15px/1.4 'Montserrat', sans-serif;
    color: #3b3b3b;
    background-color: var(--blanc);
    color: var(--marron);
    overflow-x: hidden;
}
:root{
    --bebas:'Bebas Neue', cursive;
    --alfa:'Alfa Slab One', cursive ;
    --orange:#FDC242;
    --marron:#42200B;
    --rouge:#DF1B1C;
    --blanc: #FFF;
    --gris:#DFDFDF;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
h1, h2{
    text-transform: uppercase;
    font-family: var(--alfa);
    font-weight: lighter;
}
.wrap{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap2{
    max-width: 1324px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap3{
    max-width: 1235px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.wrap4{
    max-width: 785px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
/*EN-TETE*/
#masthead{
    background-color: var(--orange);
    padding-top: 3rem;
    color: var(--marron);
}
#masthead .top{
    display: flex;
    justify-content: space-between;
}
#masthead .top .logo{
    width: 20%;
}
#masthead .top .delivery{
    display: flex;
    gap: .8rem;
    font-weight: bold;
    width: 20rem;
    align-items: center;
}
#masthead .top .delivery .deliv_img{
    width: 16%;
}
#masthead .wrap2 .navbar{
    display: flex;
    gap: 4rem;
    justify-content: flex-end;
    padding: 1rem 3rem 0 0;
}
#masthead .wrap2 .navbar a{
    color: var(--marron);
    font-family: var(--bebas);
    font-size: 1.7rem;
    font-weight: lighter;
}
#masthead .wrap2 .navbar li{
    transition: all .3s;
    z-index: 2;
}
#masthead .wrap2 .navbar li:hover{
    transform: scale(1.5) rotate(3deg);
}
#masthead .wrap2 .barre{
    display: none;

}

/*PARTIE 2*/

#masthead .week{
    display: flex;
    align-items: center;
    margin-top: -10rem;
    padding-bottom: 5rem;

}
#masthead .week .text{
    width: 40%;
}
#masthead .week .text p{
    font-family: var(--bebas);
    display: inline-block;
    border: dashed;
    padding: .5rem;
    font-size: 1.7vw;
}
#masthead .week .text h1{
    font-size: 7vw;
    text-shadow: 5px 5px 5px var(--blanc);
}
#masthead .week .text h2{
    font-size: 4vw;
    text-shadow: 5px 5px 5px var(--blanc);
}
#masthead .week .img{
    position: relative;
}
#masthead .week .img .rond .bordure{
    border: 3px dashed var(--blanc);
    border-radius: 50%;
}
#masthead .week .img .rond .bordure h2{
    color: var(--blanc);
    font-family: var(--bebas);
    text-align: center;
    border-radius: 50%;
    line-height: 3vw;
    padding: 2.2vw;
    width: 11vw;
    display: inline-block;
    height: 11vw;
}
#masthead .week .img .rond{
    display: inline-block;
    background-color: var(--rouge);
    border-radius: 50%;
    padding: 1vw;
    position: absolute;
    bottom: 1vw;
    left: 5vw;
}
#masthead .week .img .rond l{
    font-size: 5vw;
}
#masthead .week .img .rond b{
    font-size: 2.5vw;
    font-weight: lighter;
    letter-spacing: .5vw;
}

/*CHOIX*/
#choix{
    padding-bottom: 2rem;
}
#choix .wrap3 .burgers{
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
    gap: 3vw;
}
#choix .wrap3 .burgers .choix_droit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#choix .wrap3 .burgers .bloc2{
    border-radius: 10px ;
}
#choix .wrap3 .burgers .choix_2{
    position: relative;
}
#choix .wrap3 .burgers .text2{
    position: absolute;
    color: var(--blanc);
    top: 1.8vw;
    left: 1.7vw;
    text-transform: uppercase;
    line-height: 2.5vw;
}
#choix .wrap3 .burgers .text2 p{
    font-family: var(--bebas);
    font-size: 1.6vw;
    line-height: 2vw;
    padding-bottom: .1rem;
}
#choix .wrap3 .burgers .text2 h2{
    font-family: var(--bebas);
    font-size: 2.7vw;
    font-weight: lighter;
}
#choix .wrap3 .choix_bouton{
    text-align: center;
}
#choix .wrap3 .choix_bouton a{
    background-color: var(--orange);
    padding: .5vw 1.4vw .5vw 1.4vw;
    color: var(--marron);
    font-family: var(--bebas);
    font-size: 1.6rem;
    transition: all .2s;
    display: inline-block;
}
#choix .wrap3 .choix_bouton a:hover{
    border-radius: 10px;
    transform: scale(1.1);
}

/*MENU*/
#menu{
    padding-bottom: 7rem;
}
#menu .wrap .menu_text{
    text-align: center;
    max-width: 70rem;
    margin: 0 auto;
    padding-bottom: 3.5rem;
}
#menu .wrap .menu_text h1{
    font-size: 3.5vw;
    padding-bottom: 1rem;
}
#menu .wrap .menu_text p{
    line-height: 2vw;
}
#menu .wrap .prix{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    text-align: center;
}
#menu .wrap .prix h2{
    font-family: var(--bebas);
    font-size: 2.5vw;
    padding-bottom: .5rem;
}
#menu .wrap .prix p{
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
}
#menu .wrap .prix a{
    background-color: var(--rouge);
    padding: 1rem 2.2rem 1rem 2.2rem;
    color: var(--blanc);
    font-family: var(--alfa);
    display: inline-block;
    transition: all .3s;
}
#menu .wrap .prix a:hover{
    transform: scale(1.1);
    border-radius: 10px;
    opacity: .6;
}

/*STORY*/

#story{
    padding: 0 1rem 8rem 1rem;
}
#story .wrap2 {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: 6px 8px 15px 9px rgba(0,0,0,0.1);
}
#story .wrap2 .story_text{
    width: 46%;
    padding: 2rem 1rem 0 2rem;
}
#story .wrap2 .story_text h3{
    text-transform: uppercase;
    font-family: var(--bebas);
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.5rem;
}
#story .wrap2 .story_text h2{
    text-transform: uppercase;
    font-size: 2.7vw;
    padding-bottom: 2rem;
}
#story .wrap2 .story_text p{
    font-size: 1.4vw;
    line-height: 2rem;
    padding-bottom: 6vw;

}
#story .wrap2 .story_text ul .for_middle{
    display: flex;
    gap: .5rem;
}
#story .wrap2 .story_text li{
    background-color: var(--gris);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s;
}
#story .wrap2 .story_text .active{
    background-color: var(--orange);
}
#story .wrap2 .story_text li:hover{
    background-color: var(--orange);
}
#story .wrap2 .story_img{
    width: 53%;
    margin: auto 0;
}

/*CONTACT*/

#contact{
    position: relative;
}
#contact .wrap4 .reservation{
    text-align: center;
    letter-spacing: .2rem;
    padding-bottom: 4rem;
}
#contact .wrap4 .reservation h3{
    font-family: var(--bebas);
    font-size: 2rem;
    font-weight: lighter;
}
#contact .wrap4 .reservation h2{
    font-size: 3rem;
}
#contact .wrap4 .formulaire{
    padding-bottom: 10rem;
}

#contact .wrap4 .formulaire form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    position: relative;
    z-index: 2;
}
#contact .wrap4 .formulaire form input{
    font-family: var(--bebas);
    width: 48%;
    height: 3.5rem;
    padding: 1rem;
    border: var(--gris) solid;
    border-radius: 5px;
    font-size: 1.2rem;
}
#contact .wrap4 .formulaire form ::placeholder{
    color: var(--marron);
    text-transform: uppercase;
}
#contact .wrap4 .formulaire form .submit{
    font-family: var(--alfa);
    text-transform: uppercase;
    color: var(--blanc);
    background-color: var(--rouge);
    border-color: var(--rouge);
    cursor: pointer;
    transition: all .3s;
}
#contact .wrap4 .formulaire form .submit:hover{
    transform: scale(1.1);
    opacity: .6;
}
#contact .top_gauche{
    background: url("../image/group5_image_3.png") no-repeat;
    width: 14vw;
    height: 14vw;
    background-size: 14vw;
    position: absolute;
    top: -3rem;
    left: -1rem;
    opacity: .9;
    filter: drop-shadow(16px 16px 16px grey);
}
#contact .wrap4 .formulaire form .tabasco{
    width: 5vw;
    height: 20vw;
    background: url('../image/group5_image_1.png') no-repeat;
    position: absolute;
    top: -1rem;
    left: -10vw;
    background-size: 5vw;
    opacity: .9;
    transform: rotate(-1deg);
    filter: drop-shadow(16px 16px 16px grey);

}
#contact .bottom_droit{
    width: 25vw;
    height: 25vw;
    background: url("../image/group5_image_2.png") no-repeat;
    background-size: 25vw;
    position: absolute;
    bottom: 1rem;
    right: -7rem;
    transform: rotate(80deg);
    filter: drop-shadow(16px 16px 16px grey);
}

/*BAS DE PAGE*/
#colophon{
    padding: 0 1rem 3rem 1rem;
}
#colophon .wrap2{
    background: url("../image/footer_big_img.jpg") no-repeat;
    color: var(--blanc);
    height: 520px;
}
#colophon .wrap2 .fin .infos{
    display: flex;
    justify-content: space-between;
}
#colophon .wrap2 .fin .infos .fin_infos{
    height: 20rem;
}
#colophon .wrap2 .fin .infos .house{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2rem;
    width: 40%;
}
#colophon .wrap2 .fin .infos .house img{
    width: 25rem;
    padding-bottom: 4rem;
    filter: invert(100%);
}
#colophon .wrap2 .fin .infos .localisation{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-end;
    padding-left: 10vw;
    width: 45%;
}
#colophon .wrap2 .fin .infos .localisation .info_inf{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    font-family: var(--bebas);
    font-size: 1.2rem;
}
#colophon .wrap2 .fin .infos .localisation img{
    width: 2rem;
}
#colophon .wrap2 .fin .infos .loc img{
    height: 2.5rem;
}
#colophon .wrap2 .pied{
    display: flex;
    justify-content: space-between;
    height: 12rem;
    align-items: flex-end;
    padding: 0 1rem 1rem 1rem;
}
#colophon .wrap2 .pied p{
    font-family: var(--bebas);
}
#colophon .wrap2 .pied ul{
    display: flex;
    gap: 1rem;
}
#colophon .wrap2 .pied li{
    width: 2rem;
}
#colophon .wrap2 .pied a{
    display: inline-block;
    transition: all .5s;
}
#colophon .wrap2 .pied a:hover{
    opacity: .5;
    transform: scale(1.4) rotate(360deg);
}

/*MEDIA QUERY*/

@media screen and (max-width: 921px) {
    /*TETE*/
    #masthead .top .logo {
        width: 15rem;
    }
    #masthead .week {
        padding-top: 3rem;
    }
    #masthead .wrap2 .navbar {
        gap: 2rem;
    }
    #masthead .week .text p {
        font-size: 1rem;
        text-align: center;
    }
    #masthead .week .text h1 {
        font-size: 4rem;
    }
    #masthead .week .text h2 {
        font-size: 3rem;
    }
    /*MENU*/
    #menu .wrap .menu_text{
        padding: 0 2rem;
    }
    #menu .wrap .prix{
        flex-wrap: wrap;
        gap: 5rem 0;
        padding: 4rem 2rem 0 2rem;
    }
    #menu .wrap .prix .prix_bg{
        width: 48%;
    }
    #menu .wrap .prix .bg_3{
        margin: 0 auto;
    }
    /*STORY*/
    #story .wrap2 .story_text p{
        font-size: 1rem;
    }
    /*FOOTER*/
    #colophon .wrap2 .fin .infos .house{
        width: 49%;
    }
    #colophon .wrap2 .fin .infos .house img{
        width: 15rem;
    }
    #colophon .wrap2 .fin .infos .localisation{
        width: 49%;
    }
}
@media screen and (max-width: 767px) {

    #masthead .wrap2 .navbar .first{
        display: none;
    }
    #masthead .wrap2 .navbar .barre{
        display: inline-block;
    }
    #masthead .week{
        padding-top: 6rem;
    }
    #masthead .week .text h1{
        font-size: 9vw;
    }
    #masthead .week .img .rond strong{
        font-size: 3vw;
    }
    /*    CHOIX*/
    #choix .wrap3 .burgers{
        flex-direction: column;
    }
    #choix .wrap3 .burgers .text2{
        top: 2rem;
        line-height: 3rem;
    }
    #choix .wrap3 .burgers .text2 p{
        font-size: 4vw;
    }
    #choix .wrap3 .burgers .text2 h2{
        font-size: 7vw;
    }
    #choix .wrap3 .burgers .choix_droit .choix_2 .p1 p{
        /*line-height: 2rem;*/
    }
    #choix .wrap3 .burgers .choix_droit .choix_2 .p1 h2{
        line-height: 3rem;
    }
    #choix .wrap3 .burgers .choix_gauche img{
        width: 100%;
        height: 13rem;
        object-fit: cover;
        object-position: 0 60%;
    }
    #choix .wrap3 .burgers .choix_droit{
        gap: 1.3rem;
    }
/*MENU*/
    #menu .wrap .prix .prix_bg{
        width: 100%;
    }
    #menu .wrap .prix .prix_bg img{
        width: 80%;
    }
    #menu .wrap .menu_text h1{
        font-size: 1.4rem;
    }
    #menu .wrap .menu_text p{
        font-size: 1.3rem;
        line-height: 5vw;
    }
    #menu .wrap .prix h2{
        font-size:2rem ;
    }
    #menu .wrap .prix p{
        font-size: 1.3rem;
    }
/*    STORY*/
    #story .wrap2 {
        flex-direction: column-reverse;
    }
    #story .wrap2 .story_text{
        width: 100%;
    }
    #story .wrap2 .story_text h2, #story .wrap2 .story_text h3{
        text-align: center;
        font-size: 2rem;
        width: 100%;
    }
    #story .wrap2 .story_text ul{
        max-width: 4rem;
        width: 100%;
        margin: 0 auto;
    }
    #story .wrap2 .story_img{
        width: 100%;
    }
    #story .wrap2 .story_img img{
        height: 20rem;
        object-fit: cover;
        border-radius: 10px;
    }
    /*CONTACT*/
    #contact .wrap4 .formulaire form input{
        width: 100%;
    }
    #contact .wrap4 .formulaire form .submit:hover{
        transform: scale(103%);
    }
        /*FOOTER*/
    #colophon .wrap2 .fin .infos{
        flex-direction: column;
        justify-content: normal;
    }
    #colophon .wrap2 .fin .infos .fin_infos{
        width: 100%;
        height: 10rem;
        justify-content: normal;
    }
    #colophon .wrap2 .fin .infos .house{
        padding-top: 3rem;
        text-align: center;
        padding-left: 0;
    }
    #colophon .wrap2 .fin .infos .house img{
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    #colophon .wrap2 .fin .infos .house p{
        max-width: 90%;
        margin: 0 auto;
    }
    #colophon .wrap2 .fin .infos .localisation{
        padding-top: 7rem;
        padding-left: 0;
    }
    #colophon .wrap2 .fin .infos .localisation .info_inf{
        margin: 0 auto;
    }
}
@media screen and (max-width: 620px){
    #masthead .top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    #masthead .top .logo img{
        transform: scale(1.8);
    }
    #masthead .week{
        padding-top: 6rem;
    }
    /*CHOIX*/
    #choix .wrap3 .burgers .text2{
        top:2vw;
    }
    #choix .wrap3 .burgers .choix_droit .choix_2 .p1 h2{
        line-height: 2rem;
    }
    /*STORY*/
    #story .wrap2 .story_text p{
        line-height: 1.4rem;
    }
    #story .wrap2 .story_text h2{
        padding-bottom: .5rem;
    }
    /*CONTACT*/
    #contact .bottom_droit{
        right: -3rem;
    }
}
@media screen and (max-width: 485px){
    #masthead .top{
        padding-bottom: 2rem;
    }
    #masthead .top .delivery{
        padding: 0 1rem;
    }
    #masthead .top .delivery p{
        font-size: .8rem;
    }
    #masthead .wrap2 .navbar{
        padding-top: 0;
    }
    #masthead .top .logo img{
        transform: scale(1.2);
    }
    #masthead .week{
    padding-top: 7rem;
    gap: 2rem;
    }
    #masthead .week img{
        transform: scale(1.4);
    }
    #masthead .week .img .rond{
        bottom: -2rem;
        left: 1rem;
    }
    /*CHOIX*/
    #choix .wrap3 .burgers .choix_droit .choix_2 .p1 h2{
        line-height: 1.7rem;
    }
    /*MENU*/
    #menu .wrap .menu_text p{
        font-size: 4vw;
    }
    /*STORY*/
    #story .wrap2 .story_text p{
        font-size: 4vw;
    }
    #story .wrap2 .story_img img{
        object-position: right;
    }
    /*COLOPHON*/
    #colophon .wrap2 .fin .infos .house p{
        font-size: 4vw;
    }
    #colophon .wrap2 .fin .infos .localisation{
        padding-top: 9rem;
    }
    #colophon .wrap2 .fin .infos .localisation .info_inf{
        font-size: 4vw;
    }
    #colophon .wrap2 .fin .infos .localisation .info_inf img{
        width: 2rem;
    }
    #colophon .wrap2 .fin .pied{
        padding-top: 7rem;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }
    #colophon .wrap2 .fin .pied p{
        font-size:4vw ;
    }
}